html, body {
  /*Centers canvas and everything to the center of the screen*/
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
}